@import "../../fonts/fonts.css";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar-header{
    padding: 0rem 4.688rem;
    display: flex;
    flex-direction: column;
    width:92%;
    height: 9.563rem;
    font-size: 12px;
    margin-left: 75px;
    font-family: "Avenir",sans-serif;
    background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 70%, rgba(242,242,242,1) 100%);
}
.header-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-section:first-child{
    padding-top: 1.313rem;
}
.header-section:nth-child(2){
    padding-top: 0.625rem;
    padding-bottom: 1.375rem;
}
.header-logo{
    width: 11.25rem;
    height: 4.25rem;
}
.header-btns{
    display: flex;
    align-items: baseline;
    gap: 1.44rem;
}
.place-items-center{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.438rem;
}

.header-subscribe-btn{
    width:10.313rem;
    height: 2.625rem;
    color: #c0202e;
    border: 1px solid #C0202E;
    border-radius: 0.438rem;
    background-color: white;
    cursor: pointer;
}

.continue-application {
    --color: #fff;
    --background: #c0202e;
    --background-hover: #3A4059;
    --background-left: #c0202e;
    --folder: #F3E9CB;
    --folder-inner: #BEB393;
    --paper: #FFFFFF;
    --paper-lines: #BBC1E1;
    --paper-behind: #E1E6F9;
    --pencil-cap: #fff;
    --pencil-top: #275EFE;
    --pencil-middle: #fff;
    --pencil-bottom: #5C86FF;
    --shadow: rgba(13, 15, 25, .2);
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    padding: 17px 29px 12px 59px;
    transition: background 0.3s;
    color: var(--color);
    background: var(--bg, var(--background));
}

.continue-application > div {
    top: 0;
    left: 0;
    bottom: 0;
    width: 53px;
    position: absolute;
    overflow: hidden;
    border-radius: 5px 0 0 5px;
    background: var(--background-left);
}

.continue-application > div .folder {
    width: 23px;
    height: 27px;
    position: absolute;
    left: 15px;
    top: 13px;
}

.continue-application > div .folder .top {
    left: 0;
    top: 0;
    z-index: 2;
    position: absolute;
    transform: translateX(var(--fx, 0));
    transition: transform 0.4s ease var(--fd, 0.3s);
}

.continue-application > div .folder .top svg {
    width: 24px;
    height: 27px;
    display: block;
    fill: var(--folder);
    transform-origin: 0 50%;
    transition: transform 0.3s ease var(--fds, 0.45s);
    transform: perspective(120px) rotateY(var(--fr, 0deg));
}

.continue-application > div .folder:before, .continue-application > div .folder:after,
.continue-application > div .folder .paper {
    content: "";
    position: absolute;
    left: var(--l, 0);
    top: var(--t, 0);
    width: var(--w, 100%);
    height: var(--h, 100%);
    border-radius: 1px;
    background: var(--b, var(--folder-inner));
}

.continue-application > div .folder:before {
    box-shadow: 0 1.5px 3px var(--shadow), 0 2.5px 5px var(--shadow), 0 3.5px 7px var(--shadow);
    transform: translateX(var(--fx, 0));
    transition: transform 0.4s ease var(--fd, 0.3s);
}

.continue-application > div .folder:after,
.continue-application > div .folder .paper {
    --l: 1px;
    --t: 1px;
    --w: 21px;
    --h: 25px;
    --b: var(--paper-behind);
}

.continue-application > div .folder:after {
    transform: translate(var(--pbx, 0), var(--pby, 0));
    transition: transform 0.4s ease var(--pbd, 0s);
}

.continue-application > div .folder .paper {
    z-index: 1;
    --b: var(--paper);
}

.continue-application > div .folder .paper:before, .continue-application > div .folder .paper:after {
    content: "";
    width: var(--wp, 14px);
    height: 2px;
    border-radius: 1px;
    transform: scaleY(0.5);
    left: 3px;
    top: var(--tp, 3px);
    position: absolute;
    background: var(--paper-lines);
    box-shadow: 0 12px 0 0 var(--paper-lines), 0 24px 0 0 var(--paper-lines);
}

.continue-application > div .folder .paper:after {
    --tp: 6px;
    --wp: 10px;
}

.continue-application > div .pencil {
    height: 2px;
    width: 3px;
    border-radius: 1px 1px 0 0;
    top: 8px;
    left: 105%;
    position: absolute;
    z-index: 3;
    transform-origin: 50% 19px;
    background: var(--pencil-cap);
    transform: translateX(var(--pex, 0)) rotate(35deg);
    transition: transform 0.4s ease var(--pbd, 0s);
}

.continue-application > div .pencil:before, .continue-application > div .pencil:after {
    content: "";
    position: absolute;
    display: block;
    background: var(--b, linear-gradient(var(--pencil-top) 55%, var(--pencil-middle) 55.1%, var(--pencil-middle) 60%, var(--pencil-bottom) 60.1%));
    width: var(--w, 5px);
    height: var(--h, 20px);
    border-radius: var(--br, 2px 2px 0 0);
    top: var(--t, 2px);
    left: var(--l, -1px);
}

.continue-application > div .pencil:before {
    -webkit-clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
    clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
}

.continue-application > div .pencil:after {
    --b: none;
    --w: 3px;
    --h: 6px;
    --br: 0 2px 1px 0;
    --t: 3px;
    --l: 3px;
    border-top: 1px solid var(--pencil-top);
    border-right: 1px solid var(--pencil-top);
}

.continue-application:before, .continue-application:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    border-radius: 1px;
    background: var(--color);
    transform-origin: 9px 1px;
    transform: translateX(var(--cx, 0)) scale(0.5) rotate(var(--r, -45deg));
    top: 26px;
    right: 16px;
    transition: transform 0.3s;
}

.continue-application:after {
    --r: 45deg;
}

.continue-application:hover {
    --cx: 2px;
    --bg: var(--background-hover);
    --fx: -40px;
    --fr: -60deg;
    --fd: .15s;
    --fds: 0s;
    --pbx: 3px;
    --pby: -3px;
    --pbd: .15s;
    --pex: -24px;
}
  
.header-donate-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 10px 10px ;
    /* box-shadow: rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
    background-color: #f7e1e1;
    border-color: #ee6b6b;
    border-style: solid;
    border-width: 4px;
    border-radius: 12px;
    font-size: 25px;
    font-weight: 900;
    color: rgb(145, 78, 78);
    font-family: monospace;
    transition: transform 400ms cubic-bezier(.68,-0.55,.27,2.5), 
    border-color 400ms ease-in-out,
    background-color 400ms ease-in-out;
    word-spacing: -2px;
}

.header-donate-btn:hover{
    background-color: #eee;
    border-color: #e42d2d;
    transform: scale(105%);
    animation: movingBorders 3s infinite;
}

.header-donate-btn svg{
    fill: rgb(255, 110, 110);
    margin-left: 13px;
}

@keyframes beatingHeart {
    0% {
      transform: scale(1);
    }
  
    15% {
      transform: scale(1.15);
    }
  
    30% {
      transform: scale(1);
    }
  
    45% {
      transform: scale(1.15);
    }
  
    60% {
      transform: scale(1);
    }
}

.header-donate-btn svg:hover{
    transform: scale(105%);
    border-color: #f10303;
    animation: beatingHeart 1.2s infinite;
}

@keyframes movingBorders {
    0% {
      border-color: #f30f0f;
    }
  
    50% {
      border-color: #f80c0c;
    }
  
    90% {
      border-color: #fc1717;
    }
  }

.nav-items ul{
    display: flex;
    align-items: baseline;
    gap: 6.938rem;
    list-style: none;
    font-weight: 700;
}
.nav-items li a{
    color: black;
    text-decoration: none;

}
.nav-items li a:hover{
    color: #C0202E;
}

.header-search-bar{
    width: 17.5rem;
    height: 2.5rem;
    padding: 0 1.375rem;
    outline: none;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    display: none; /* Initially hidden */
    z-index: 3;
  }
.active-link{
    color: #C0202E !important;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 0.438rem;
    /* margin-top: 0.625rem; */
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

.dropdown-content a:hover {
    background-color: #ddd;
    /* display: block; */
}
