@import "../../fonts/fonts.css";
footer {
  background-color: #f0f0f0;
  font-family: "Avenir", sans-serif;
  font-weight: 500;
  padding: 1.5rem;
  text-align: center;
  margin-top: 6rem;
  display: flex;
  margin-left: 75px;
  width: 92%;
  align-items: center;
  flex-direction: column;
  align-content: baseline;
  /* position: fixed;
    bottom: 0;
    left:0;
    right: 0; */
  /* overflow: hidden; */
}
.footer-inner-div {
  width: fit-content;
  
}
.social-media-container-footer img {
  width: 30px;
  height: 30px;
  margin-left: 20px;
}
.nav-footer ul {
  display: flex;
  list-style: none;
  gap: 50px;
  padding-bottom: 70px ;
 
}
.nav-footer ul li  {
  font-size: 18px;

}
.nav-footer a{
    color: black;
    text-decoration: none;
}

.nav-footer a:hover{
    color: #c0202e;
}
.inner-logo {
  width: 200px;
  height: 68px;
  margin-top: -20px;
}
.line-one-footer {
  display: flex;
  gap: 350px;
  margin-top: 20px;
  border-bottom: thin solid rgb(105, 100, 100);
}
.footer-inner-div p {
  margin-top: 20px;
}
